footer {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #941e00;
  height: 50px;
  width: 100%;
  bottom: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;

  bottom: 0;
  position: fixed;
  background-color: #941e00;
  max-width: 550px;
  width: 85%;
}

.footer__nav__button {
  height: 50px;
  width: 50px;
  background-color: #941e00;
  border: none;
}

/* .footer__nav__button--active {
    background-color: #681500;
    border: none;
  } */

.footer__nav__button__img {
  width: 100%;
  border: none;
}
