.input {
  width: 250px;
  border: none;
  border-radius: 0.5em;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  background-color: #941e00;
  color: #f0f0f0;
}

.input::placeholder {
  color: #f0f0f0;
}

.input:focus {
  background-color: #941e00;
  color: #f0f0f0;
}
